:root {
  background-color: #EFF5FF;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 25px;
  color: #022959;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  color: grey;
}

label {
  font-size: 14px;
  color: #022959;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}

input {
  display: block;
  width: 450px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  height: 48px;
  border: 1px #D6D9E6 solid;
}

a {
  text-decoration: none;
  margin-left: auto;
  width: 30%;
}

.btn {
  background-color: #022959;
  color: white;
  border-style: none;
  border-radius: 10px;
  margin-top: 50px;
  text-align: center;
  padding: 10px;
}

.btns-group {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-container {
  width: 940px;
  height: 600px;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
}

.steps-overview {
  background-image: url("images/bg-sidebar-desktop.svg");
  float: left;
  width: 274px;
  height: 568px;
  margin: 16px 0 16px 16px;
}

.form-area {
  float: right;
  height: 372px;
  width: 450px;
  margin: 56px 100px 56px 100px;
}

.form-step {
  display: block;
}

.form-step-active {
  display: block;
}

.custom-counter {
  list-style-type: none;
}

.custom-counter li {
  counter-increment: step-counter;
}

.custom-counter li::before {
  content: counter(step-counter);
  border: 1px solid black;
  border-radius: 100%;
  display: flex;
  padding: 5px;
}

li {
  display: flex;
}

/* Plan options - Form 2 */

.plan-option-container {
  width: 450px;
  height: 160px;
  display: flex;
  justify-content: space-between;
}

.plan-option {
  width: 138px;
  height: 160px;
  border: #D6D9E6 solid 1px;
  border-radius: 10px;
}

.plan-option:hover {
  border: #483EFF solid 1px;
}

.plan-time-toggle {
  display: flex;
}




