:root {
  background-color: #EFF5FF;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.main-container {
  width: 940px;
  height: 600px;
  background-color: white;
  margin: 0 auto;
}

.steps-overview {
  background-image: url("images/bg-sidebar-desktop.svg");
  float: left;
  width: 274px;
  height: 568px;
}

.form-area {
  float: right;
  width: 640px;
}

.custom-counter {
  list-style-type: none;
}

.custom-counter li {
  counter-increment: step-counter;
}

.custom-counter li::before {
  content: counter(step-counter);
  border: 1px solid black;
  border-radius: 100%;
  display: flex;
  padding: 5px;
}

li {
  display: flex;
}

label, 
button {
  display: block;
}

input {
  width: 60%;
}


