body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background-color: #D5E1EF;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 10px;
}

p {
    color: #7D889E;
    max-width: 85%;
    margin: 0 auto;
    letter-spacing: 0.05rem;
}

img {
    border-radius: 20px;
    max-width: 90%;
    height: auto;
    margin: 15px 0;
}

.main-container {
    background-color: #fff;
    border-radius: 20px;
    width: 320px;
    height: 497px;
    text-align: center;
    margin: 100px auto;
}



