:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(180, 100%, 50%);
    --cyan-opaque: hsl(180, 100%, 50%, 0.5);
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: #2E405A;
    --white: hsl(0, 0%, 100%);
  }

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: var(--very-dark-blue-main);
}

h1 {
    color: var(--white);
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
}

h1:hover {
    cursor: pointer;
}

p {
    font-size: 18px;
    color: var(--soft-blue);
    text-align: left;
}

.nft {
    width: 302px;
    height: 302px;
    margin: 24px;
}

.view {
    position: absolute;
    border-radius: 8px;
    width: 302px;
    height: 302px;
}

.view-icon {
    border-radius: 8px;
    background-color: rgba(0, 255, 247, 0.5); 
    opacity: 0;
    padding: 126.5px;
}

.view-icon:hover {
    opacity: 1;
    transition: all 1 ease-out;
    cursor: pointer;
}

.ether {
    border-radius: 8px;
    width: 302px;
    height: 302px;
    cursor: pointer;
    margin: 0;
    opacity: 1;
} 

hr {
    border: 1px solid var(--very-dark-blue-line);
    margin: 0;
}

.main-container {
    background-color: var(--very-dark-blue-card);
    border-radius: 15px;
    width: 350px;
    height: 596px;
    text-align: center;
    margin: 150px auto;
    overflow: hidden;
}

.text {
    width: 90%;
    margin: 0 auto;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info p {
    color: var(--cyan);
    font-size: 16px;
}

.price-ethereum,
.time-left,
.avatar-span {
    display: flex;
    align-items: center;
}

.price-ethereum p {
    font-weight: 600;
}

.time-left p {
    color: var(--soft-blue);
}

.avatar-info {
    display: flex;
}

.avatar-info p {
    font-size: 16px;
    line-height: 2rem;
    margin-left: 20px;
}

.avatar-span span {
    color: var(--white);
    cursor: pointer;
}

.avatar-span span:hover,
h1:hover {
    color: var(--cyan);
}

.price-ethereum img, 
.time-left img {
    margin-right: 5px;
    height: auto;
}

.time-left img {
    width: 16px;
    height: 16px;
}

.avatar-img {
    width: 33px;
    height: 33px;
    border: 1px solid var(--white); 
    border-radius: 50%;
}

