:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(180, 100%, 50%);
    --cyan-opaque: hsl(180, 100%, 50%, 0.5);
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: #2B283A;
    --white: hsl(0, 0%, 100%);
  }

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: var(--very-dark-blue-main);
}

h1 {
    color: var(--white);
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
}

p {
    font-size: 18px;
    color: var(--soft-blue);
    text-align: left;
}

.mask {
    border-radius: 15px;
    width: 302px;
    height: 302px;
    margin: 24px;
    overflow: hidden;
    background-color: hsl(180, 100%, 50%, 0);
}

.mask:hover {
    background-color: hsl(180, 100%, 50%, 0.8);;
}

.ether:hover {
    opacity: 0.5;
}

.ether {
    border-radius: 10px;
    width: 302px;
    height: 302px;
    cursor: pointer;
    margin: 0;
    opacity: 1;
} 

.ether:hover {
    color: var(--cyan);
}

hr {
    border: 1px solid var(--very-dark-blue-line);
    margin: 0;
}

.main-container {
    background-color: var(--very-dark-blue-card);
    border-radius: 20px;
    width: 350px;
    height: 596px;
    text-align: center;
    margin: 150px auto;
    overflow: hidden;
}

.text {
    width: 90%;
    margin: 0 auto;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info p {
    color: var(--cyan);
    font-size: 16px;
}

.price-ethereum,
.time-left,
.avatar-span {
    display: flex;
}

.avatar-info {
    display: flex;
}

.avatar-info p {
    font-size: 16px;
    line-height: 2rem;
    margin-left: 20px;
}

.avatar-span span {
    color: var(--white);
    cursor: pointer;
}

.avatar-span span:hover,
h1:hover {
    color: var(--cyan);
}

.price-ethereum img, 
.time-left img {
    margin-right: 3px;
}

.avatar-img {
    width: 33px;
    height: auto;
    border: 1px solid var(--white); 
    border-radius: 50%;
}

