:root {
    --yellow: #FBF3AB;
    --light-pink: #F0B9DD;
    --lavender: #C7B9FF;
    --deep-pink: #dd4cf0;
    --raisin: #2B283A;
    --white: #fff;
    --purple: #741980
  }
  
  html, body {
      margin: 0;
      padding: 0;
  }
  
  .flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  body {
      height: 100vh;
      min-width: 500px;
      color: var(--raisin);
      background-color: var(--yellow);
      font-family: 'Karla', sans-serif;
  }
  
  p {    
      background: var(--light-pink);
      color: var(--raisin);
      min-height: 50px;
      width: 80%;
      padding: 1em;
      text-align: center;
      font-size: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      border-radius: 5px;
  }
  
  .button-group {
      display: flex;
  }

  .button-add-emoji {
    font-family: inherit;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    border: none;
    padding: 1em 1em;
    color: var(--white);
    background: var(--purple);
    width: 100px;
    margin-top: 10px;
  }

  .button-sort {
      font-family: inherit;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      border-radius: 5px;
      border: none;
      padding: 1em 1em;
      color: var(--white);
      background: var(--deep-pink);
      width: 150px;
      margin-top: 10px;
  }

  #btn-add-donut, #btn-add-rainbow{
      margin-left: 15px;
  }

  #btn-filter, #btn-sort-order {
      margin-right: 15px;
  }
  
  button:hover,
  button:focus {
      transform: scale(1.02);
      cursor: pointer;  
  }
  
  